*~
/lollypop-cli
/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.buildconfig
/.*.sw[nop]
/.deps
/.dirstamp
/.libs
/AUTHORS
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/INSTALL
/Makefile
/Makefile.in
/TAGS
/build
/po
/_libs
/aclocal.m4
/autom4te.cache
/autoscan.log
/compile
/config.cache
/config.guess
/config.h
/config.h.in
/config.log
/config.lt
/config.status
/config.status.lineno
/config.sub
/configure
/configure.lineno
/configure.scan
/depcomp
/install-sh
/intltool-extract.in
/intltool-merge.in
/intltool-update.in
/libtool
/ltmain.sh
/m4
/missing
/mkinstalldirs
/so_locations
/stamp-h1
/tags
/src/*.pyc
/src/Makefile
/src/Makefile.in
/py-compile
*.tar.xz
*.desktop
*.gresource
*.compiled
search-provider/org.gnome.Lollypop.SearchProvider.service
search-provider/lollypop-sp
search-provider/Makefile
search-provider/Makefile.in
portal/org.gnome.Lollypop.Portal.service
portal/lollypop-portal
portal/Makefile
portal/Makefile.in
data/Makefile
data/Makefile.in
flatpak/metadata
*.pyc
*.valid
/src/Makefile.in
/data/AboutDialog.ui
/data/org.gnome.Lollypop.appdata.xml
/flatpak/app
/flatpak/repo
/flatpak/*.bundle
/flatpak/*.flatpak
/flatpak/.flatpak-builder
/_build
/local
/builddir
.vscode/
